---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404, no lo he encontrado">
<main class="max-w-4xl m-auto min-h-screen grid place-content-center text-center">
  <h2 class="text-4xl font-black">Oopss!!!</h2>
  <img src="https://img.freepik.com/free-vector/page-found-concept-illustration_114360-1869.jpg" />
</main>
</Layout>